<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<!--Browser info-->
		<add key="Browser" value="Chrome" />
		<!--Test ENvironment-->
		<add key="TestEnvironment" value="AutomationPractice" />
		<!--Browser Drivers-->
		<add key="ChromeDriverPath" value="..\..\..\packages\Selenium.WebDriver.ChromeDriver.89.0.4389.2300\driver\win32" />
		<!--File Locations-->
		<add key="ConfigFolder" value ="..\..\..\Selenium.Test.Buisness.Functions\ConfigFolder" />

	</appSettings>
</configuration>
